<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deelock.wifilock"
    android:versionCode="237"
    android:versionName="2.3.7">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.deelock.wifilock.permission.JPUSH_MESSAGE" />

    <permission
        android:name="com.deelock.wifilock.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="channeltest"
            android:value="1" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/customLoading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.ForgetActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.CenterActivity" />
        <activity android:name=".ui.activity.AddEquipmentActivity" />
        <activity android:name=".ui.activity.BindLockActivity" />
        <activity android:name=".ui.activity.ChangeWifiActivity" />
        <activity
            android:name=".ui.activity.EquipmentActivity"
            android:launchMode="standard" />
        <activity android:name=".ui.activity.EquipmentDetailActivity" />
        <activity android:name=".ui.activity.AboutHardwareActivity" />
        <activity android:name=".ui.activity.AllPasswordActivity" />
        <activity android:name=".ui.activity.AllFingerPrintActivity" />
        <activity android:name=".ui.activity.UserManageActivity" />
        <activity android:name=".ui.activity.UserActivity" />
        <activity
            android:name=".ui.activity.PasswordDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.AddFPrintActivity" />
        <activity android:name=".ui.activity.AddPasswordActivity" />
        <activity android:name=".ui.activity.FPrintStepActivity" />
        <activity android:name=".ui.activity.PasswordStepActivity" />
        <activity android:name=".ui.activity.HistoryActivity" />
        <activity android:name=".ui.activity.GestureActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.VerifyPasswordActivity" />
        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity android:name=".ui.activity.WarrantyActivity" />
        <activity android:name=".ui.activity.LinkWifiActivity" />
        <activity android:name=".ui.activity.MagnetometerActivity" />
        <activity android:name=".ui.activity.MagnetometerDetailActivity" />
        <activity android:name=".ui.activity.MagHistoryActivity" />
        <activity android:name=".ui.activity.EvaluateActivity" />
        <activity android:name=".ui.activity.PropertyActivity" />
        <activity
            android:name=".ui.dialog.ActDialog"
            android:theme="@style/DialogActivity" />
        <activity android:name=".ui.activity.SecurityActivity" />
        <activity android:name=".ui.activity.SendMessageActivity" />
        <activity android:name=".ui.activity.HsDetailActivity" />
        <activity android:name=".ui.activity.HsCreateActivity" />
        <activity android:name=".ui.activity.AddUserActivity" />
        <activity android:name=".ui.activity.HsPwdResultActivity" />
        <activity android:name=".ui.activity.HsAllActivity" />
        <activity android:name=".ui.activity.HsRecordActivity" />
        <activity android:name=".ui.activity.ProtocolActivity" />

        <receiver
            android:name=".network.ScreenBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
        </receiver>

        <service android:name=".application.InitializeService" />

        <receiver
            android:name=".compment.UpdateAppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".compment.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- sharedsdk -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22242da69e853" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="faa549bb71c29146a4ceec2f0340ed23" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 极光推送 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.deelock.wifilock.DataProvider"
            android:exported="true"
            tools:replace="android:exported" />

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.deelock.wifilock" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.deelock.wifilock.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.deelock.wifilock" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.deelock.wifilock" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.deelock.wifilock" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- 自定义极光推送接收 -->
        <receiver
            android:name=".network.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.deelock.wifilock" />
            </intent-filter>
        </receiver>

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Cu5GapcuIR8cysv67TtaBMCAOhnbSgIg" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- baidumap end -->

        <activity android:name=".ui.activity.ADActivity" />
        <activity android:name=".ui.activity.GateWayActivity" />
        <activity android:name=".ui.activity.AddLockActivity" />
        <activity android:name=".ui.activity.AddMagActivity" />
        <activity android:name=".ui.activity.SelectGateActivity" />
        <activity android:name=".ui.activity.BindGateWayActivity" />
        <activity android:name=".ui.activity.GateWayInfoActivity" />
        <activity android:name=".ui.activity.GateLockActivity" />
        <activity android:name=".bluetooth.BleFunctionActivity" />
        <activity android:name=".bluetooth.BleUpdateActivity" />
        <activity android:name=".bluetooth.BleActivity" />
        <activity android:name=".bluetooth.BleBindActivity" />
        <activity android:name=".bluetooth.BleAddFprintActivity" />
        <activity android:name=".bluetooth.BleFprintNameActivity" />
        <activity android:name=".bluetooth.BleAddPwdActivity" />
        <activity android:name=".bluetooth.BlePwdNameActivity" />
        <activity android:name=".ui.activity.InfraDetailActivity" />

        <service
            android:name=".bluetooth.BleService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name="com.ble.ble.BleService"
            android:enabled="true"
            android:exported="false">

        </service>


    </application>

</manifest>